In [1]:
# Imports
import pandas as pd
import numpy as np
import datetime as dt

- Read in the instacart data csv and parsed the date column to convert it into datetime data type.
- Read in first 5 rows

In [45]:
# Read in the Instacart CSV containing all of the compiled data
instacart_df = pd.read_csv("Instacart_Analysis_CSV.csv", parse_dates=['Date'])
instacart_df.head()

        Date  Batch Earnings   Tips  Adjustments Active Hours  Distance
0 2022-01-22           47.92   9.56        59.97         2:18      31.4
1 2022-01-23          138.99  90.03        60.72        10:00      53.6
2 2022-01-24          108.83  22.12       182.45         5:40      44.2
3 2022-01-25          106.02  35.52       300.23         5:11      35.0
4 2022-01-26           98.27  41.25       361.98         5:54      20.6

In [3]:
instacart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            88 non-null     datetime64[ns]
 1   Batch Earnings  88 non-null     float64
 2   Tips            88 non-null     float64
 3   Adjustments     13 non-null     float64
 4   Active Hours    88 non-null     object
 5   Distance        84 non-null     float64
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 4.2+ KB

- Converted 'Active Hours' Column to datetime

In [16]:
instacart_df['Active Hours'] = pd.to_datetime(instacart_df['Active Hours'],format= "%H:%M:%S").dt.time

In [44]:
# instacart_df.info()

- Created new column which will sum the amount earned per day.
- Used iloc to parse only the Batch earnings, Tips, and adjustments for the sum.
- Used the insert method to place the new column in a more logical spot in the dataframe.

In [43]:
instacart_df.insert(4, column='Total Amount Earned' , value=instacart_df.iloc[:, 1:4].sum(axis=1))

,Date,Batch Earnings,Tips,Adjustments,Total Amount Earned,Active Hours,Distance
0,2022-01-22,47.92,9.56,59.97,117.45,02:18:00,31.4
1,2022-01-23,138.99,90.03,60.72,289.74,10:00:00,53.6
2,2022-01-24,108.83,22.12,182.45,313.40,05:40:00,44.2
3,2022-01-25,106.02,35.52,300.23,441.77,05:11:00,35.0
4,2022-01-26,98.27,41.25,361.98,501.50,05:54:00,20.6